@use '../../../constants/style/themify.scss' as *;

.card {
	box-shadow: rgba(5, 25, 45, 0.25) 0px 0px 2px 0px;
	padding: 0.5rem;
	border-radius: 0.25rem;
	@include themify($themes) {
		background-color: themed('surface');
	}
}
