@use '../../../constants/style/themify.scss' as *;
.button {
	font-weight: bold;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	box-shadow: rgba(5, 25, 45, 0.25) 0px 0px 2px 0px;
	border: 2px solid transparent;
	transition: all 500ms;
	&:hover {
		cursor: pointer;
	}
}

.big {
	font-size: 1rem;
}

.button-primary {
	@include themify($themes) {
		color: themed('on-primary');
		background-color: themed('primary');
	}
	&:hover {
		@include themify($themes) {
			background-color: themed('primary-hover');
		}
	}
}

.button-secondary {
	box-shadow: none;
	@include themify($themes) {
		color: themed('primary');
		border-color: themed('primary');
	}
	&:hover {
		@include themify($themes) {
			color: themed('primary-hover');
			border-color: themed('primary-hover');
		}
	}
}

.button-card {
	@include themify($themes) {
		color: themed('on-surface');
		background-color: themed('surface');
	}
	&:hover,
	&.selected {
		box-shadow: rgba(5, 25, 45, 0.25) 0px 0px 2px 0px,
			rgba(5, 25, 45, 0.3) 0px 2px 4px -1px;
		transform: translate(0px, -1px);
	}
	&.selected {
		@include themify($themes) {
			color: themed('surface');
			background-color: themed('on-surface');
		}
	}
}
