@use '../../../constants/style/themify.scss' as *;
.button {
	font-weight: bold;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	box-shadow: rgba(5, 25, 45, 0.25) 0px 0px 2px 0px;
	border: 2px solid transparent;
	transition: all 500ms;
	&:hover {
		cursor: pointer;
	}
}
.big {
	font-size: 1rem;
}

.button-primary {
	@include themify($themes) {
		color: themed('on-primary');
		background-color: themed('primary');
	}
	&:hover {
		@include themify($themes) {
			background-color: themed('primary-hover');
		}
	}
	:global(.theme-light) &:focus-visible {
		box-shadow: 0 0 0 5px getColorInTheme('light', 'surface'),
			0 0 0 10px getColor('primary');
	}
	:global(.dark-light) &:focus-visible {
		box-shadow: 0 0 0 5px getColorInTheme('dark', 'surface'),
			0 0 0 10px getColor('primary');
	}
}

.button-secondary {
	box-shadow: none;
	@include themify($themes) {
		color: themed('primary');
		border-color: themed('primary');
	}
	&:hover {
		@include themify($themes) {
			color: white;
			background-color: themed('primary');
			border-color: themed('primary');
		}
	}
	&:focus-visible {
		@include themify($themes) {
			color: white;
			background-color: themed('primary');
			border-color: themed('primary');
		}
	}
}

.button-error {
	@include themify($themes) {
		color: themed('on-error');
		background-color: themed('error');
	}
	&:hover {
		@include themify($themes) {
			background-color: themed('error-hover');
		}
	}
	:global(.theme-light) &:focus-visible {
		box-shadow: 0 0 0 5px getColorInTheme('light', 'surface'),
			0 0 0 10px getColor('error');
	}
	:global(.dark-light) &:focus-visible {
		box-shadow: 0 0 0 5px getColorInTheme('dark', 'surface'),
			0 0 0 10px getColor('error');
	}
}

.button-error-secondary {
	box-shadow: none;
	@include themify($themes) {
		color: themed('error');
		border-color: themed('error');
	}
	&:hover {
		@include themify($themes) {
			color: white;
			background-color: themed('error');
			border-color: themed('error');
		}
	}
	&:focus-visible {
		@include themify($themes) {
			color: white;
			background-color: themed('error');
			border-color: themed('error');
		}
	}
}

.button-card {
	@include themify($themes) {
		color: themed('on-surface');
		background-color: themed('surface');
	}
	&:hover,
	&.selected {
		box-shadow: rgba(5, 25, 45, 0.25) 0px 0px 2px 0px,
			rgba(5, 25, 45, 0.3) 0px 2px 4px -1px;
		transform: translate(0px, -1px);
	}
	&.selected {
		@include themify($themes) {
			color: themed('surface');
			background-color: themed('on-surface');
		}
	}
	:global(.theme-light) &:focus-visible {
		box-shadow: 0 0 0 5px getColorInTheme('light', 'background'),
			0 0 0 10px getColorInTheme('light', 'on-background');
	}
	:global(.dark-light) &:focus-visible {
		box-shadow: 0 0 0 5px getColorInTheme('dark', 'background'),
			0 0 0 10px getColorInTheme('dark', 'on-background');
	}
}

.button:disabled,
.button:disabled:hover {
	@include themify($themes) {
		color: themed('on-background') !important;
		background-color: themed('background') !important;
	}
	cursor: default;
}
