@use '../../../constants/style/themify.scss' as *;
.carousel {
	position: relative;
	margin: 1rem 0rem;
	padding-left: 2rem;
	margin-right: 2rem;
	overflow: hidden;
	min-width: 0;
}
.carousel__inner {
	position: relative;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	transition: all 500ms;
	width: min-content;
}

.left,
.right {
	position: absolute;
	z-index: 1;
	width: 3rem;
	top: 0;
	height: 100%;
	display: flex;
}

.left {
	left: 0;
	justify-content: flex-start;
	background: linear-gradient(
		to left,
		rgba($color: rgb(240, 244, 253), $alpha: 0),
		rgb(240, 244, 253),
		rgb(240, 244, 253)
	);
}
.left button,
.right button {
	opacity: 0;
	transition: all 250ms;
}
.visible button {
	opacity: 1;
}
.right {
	right: 0;
	justify-content: flex-end;
	background: linear-gradient(
		to left,
		rgb(240, 244, 253),
		rgb(240, 244, 253),
		rgba($color: rgb(240, 244, 253), $alpha: 0)
	);
}

.left button,
.right button {
	font-size: 20pt;
	font-weight: 900;
	&:hover {
		cursor: pointer;
	}
}
