@use './colors.scss' as c;
$on-light: rgb(5, 25, 45); //#05192D
$on-dark: rgb(255, 255, 255);

$primary: map-get(c.$green, 'A700');
$primary-hover: map-get(c.$green, 'A400');
$on-primary: $on-light;

$secondary: map-get(c.$green, 500);
$secondary-hover: map-get(c.$green, 300);
$on-secondary: $on-light;

$success: map-get(c.$green, 'A700');
$on-success: $on-light;

$error: map-get(c.$red, 500);
$on-error: $on-light;

$themes: (
	'light': (
		'background': rgb(240, 244, 253),
		// #FDF0F4
		'on-background': $on-light,
		'surface': rgb(255, 255, 255),
		'on-surface': $on-light,
	),
	'dark': (
		'background': rgb(40, 40, 40),
		'on-background': $on-dark,
		'surface': rgb(62, 65, 106),
		'on-surface': $on-dark,
	),
	'primary': $primary,
	'primary-hover': $primary-hover,
	'on-primary': $on-primary,
	'secondary': $secondary,
	'secondary-hover': $secondary-hover,
	'on-secondary': $on-secondary,
	'success': $success,
	'on-success': $on-success,
	'error': $error,
	'on-error': $on-error,
	'navbar': $on-light,
	'on-navbar': $on-dark,
);
